/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@charset "UTF-8";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*General Styles*/

html {
  font-size: 1rem;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  text-align: left;
  color: #000;
  background: #fff;
  width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
  margin: 0;
}

h3,
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin: 20px 0;
}
figure {
  margin: 0;
}

p {
  font-size: 0.975em;
  line-height: 1.285em;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/*--Base Header Styles--*/

header {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

header figure {
  display: flex;
  justify-content: center;
  width: 60%;
}

.header-divider {
  background: #3a3a3a;
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
}

header nav {
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  font-size: 1.125em;
}

/*--Base Footer Styles--*/

footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  gap: 300px;
}

footer h3 {
  font-size: 1.675em;
}

footer p {
  margin: 5px 10px;
}

.contact {
  padding-right: 50px;
  margin-bottom: 50px;
}

.social-icons {
  padding-left: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center; 
  justify-content: center;
  list-style-type: none;
}

.social-icons ul {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  text-align: center;
}

 /*-------------Mobile Styles-Homepage-----------*/
  
/*---Hero Area---*/

.hero-area {
  display: flex;
  justify-content: center;
  background: url('../img/gc-courthouse.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
 }

 .hero-area .content-wrapper {
  width: 100%;
 }

 .hero-area h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2;
  align-items: center;
  color:#e2e3ed;
  margin-top: 175px;
  background-color: #202322;
  width: 100%;
  opacity: 75%;
 }

 /*---Benefits--Why Choose Styles---*/

 .benefits {
  background-color: #fff;
  font-size: 1.25rem;
  margin: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
 }

 .benefits .content-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  margin: 15px 15px;
 }

 .benefits h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
 }

 .benefits-items {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; 
  gap: 15px;
  margin-left: 25px;
 }

.benefits-items article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  border-radius: 21%;
  width: 20%;
  padding: 5px 5px;
  margin: 10px 10px;
 }

 .benefits-items img {
  margin-top: 15px;
 }

 .benefits-items p {
  text-align: center;
  font-size: 1.25rem;
  margin: 5px 5px;
 }

 .section-divider {
  background: #3a3a3a;
  height: 1px;
  width: 100%;
 }

 /*---Reviews Styles---*/

 .reviews {
  font-size: 1.25rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
 }

 .reviews .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  margin: 30px 0 30px 0;
 }

 .reviews h2 {
  margin-bottom: 20px;
  text-align: center;
 }

 .carousel-container {
  position: relative;
  width: 550px;
  overflow: hidden;
  padding-bottom: 57px;
  border: #e2e3ed solid 2px;
  border-radius: 5%;
  background-color: #e2e3ed;
  margin-bottom: 20px;
 }

 .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
 }

 .review-slide {
  min-width: 100%;
 }

 .review-slide p {
  margin: 20px 20px;
 }

 .carousel-control {
  font-family: "Barlow", sans-serif;
  font-size:0.975rem;
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 15%;
  text-align: center;
  padding: 5px 5px;
  margin: 10px 10px;
  cursor: pointer;
 }


 .prev-button {
  left: 0;
 }

 .next-button {
  right: 0;
 }

 .reviews-link {
  text-align: center;
}


 /*---Footer Styles---*/

 .section-divider {
  background: #3a3a3a;
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
 }

/*------------ Mobile Styles-About Page ---------------*/

.mission {
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  margin: 0 30px 0 30px;
}

.mission-wrapper {
  font-size: 1.25rem;
}

.mission-content-item {
  line-height: 1.6;
  color: #333;
  border-bottom: solid black 1px;
}

/*---Biographies Styles---*/

.biographies {
  margin: 0 30px 0 30px;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

.biographies .biography-wrapper {
  font-size: 1.25rem;
}

.bio-wrapper h3 {
  text-align: center;
  font-size: 1.655rem;
}

.bio-contact {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.bio-contact ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.bio-content-item {
  width: 100%;
  padding: 0; 
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 30px; /* space between bio-main and bio-education */
  border-bottom: solid black 1px;
}

.bio-main {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap; /* Ensure content stays in one line */
  text-align:justify;
}

.bio-main img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  flex-shrink: 0; /* prevents image from shrinking on small screens */
}

.bio-main p {
  flex: 1; /* text takes the remaining space */
}

.bio-education {
  width: 100%;
}

.bio-education > div {
  max-width: 100%;
}

.bio-education h4 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-right: 1em;
  padding-left: 15px;
}

.bio-education p {
  margin: 1em;
}

.bio-education img {
  max-width: 100%;
  height: auto;
}

.bio-content-item p {
  margin: 1em;
}

.bio-content-item img:not(.bio-main img) {
  height: 24px;
  vertical-align: middle;
  margin: 4px 0 0 10px;
}

/*------ Mobile Styles--Services Page ------*/

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content-wrapper h2 {
  margin-bottom: 15px;
}

.practice-area-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

.practice-area {
  background-color: #e2e3ed;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.practice-area h4 {
  font-size: 1.5rem;
  padding: 10px;
  margin-left: 5px;
}

.practice-area p {
  font-size: 1.25rem;
  padding: 12px;
  text-align: left;
}

/*------ Contact Styles ------*/

.contact-wrapper {
  margin: 20px;
}

.contact-wrapper h2 {
  padding: 15px;
  text-align:center;
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-bottom: solid black 1px;
  margin-bottom: 20px;
}

.contact-info-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-info h4 {
  font-size: 1.55rem;
}
.contact-info p {
  font-size: 1.25rem;
}

.map-hours {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
  border-bottom: solid black 1px;
  padding-bottom: 15px;
}

.business-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.business-info h4 {
  font-size: 1.55rem;
}

.business-info p {
  font-size: 1.25rem;
}

.follow {
  display: flex;
  flex-flow: column wrap;
}

.follow h3 {
  font-size: 1.785rem;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
   @media (max-width: 768px) {
    .practice-area {
      width: 100%; /* Stack on smaller screens */
    }
/***** Tablet Styles *****/

/***** Desktop Styles *****/

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
